@import "utils/variables";
@import "utils/mixins";
@import "utils/keyframes";
@import "base/box-sizing";
@import "base/font";
@import "components/breakpoints";
@import "layout/header";
@import "layout/footer";

//**Loader**/
.loader {
  height: 100vh;
  background-color: rgba($color: #fff, $alpha: 0.97);
  @include flexCol;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  animation: loader 1s 3s both;
  transform-origin: -0% 100%;
  &__patience {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  &__load {
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    &__round {
      height: 14px;
      width: 14px;
      padding: 3px;
      border-radius: 50px;
      animation: round $anim-dur backwards infinite ease-in-out
        alternate-reverse;
      @for $i from 1 through $num-round {
        &--#{$i} {
          animation-delay: $anim-delay * $i;
        }
      }
    }
    .items1 {
      background: $cl-primary;
    }
    .items2 {
      background: $cl-secondary;
    }
    .items3 {
      background: $cl-tertiary;
    }
    .items4 {
      background: $cl-secondary;
    }
    .items5 {
      background: $cl-primary;
    }
  }
}

//**Search**/
#search {
  @include flexMid;
  height: 60px;
  background: linear-gradient(#cecece, #e6e6e6);
}
.search__icn {
  color: rgb(43, 43, 43);
  font-size: 22px;
}
.search__place {
  font-size: 18px;
  border: none;
  text-align: center;
  background: transparent;
}

//**Presentation**/
#pres {
  @include flexCol;
  height: 312px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: $bg-section;
}
.pres__title {
  font-size: 28px;
  word-spacing: -0.2em;
  text-align: center;
}
.pres__subtitle {
  font-size: 16px;
  padding: 0px 15px 20px 15px;
  text-align: center;
}
.pres__btn {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: $br-round;
  color: white;
  font-size: 16px;
  background: $bg-btn;
  box-shadow: $bs-btn;
  transform: scale(1);
  animation: transform 1s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: $bg-btn-dark;
  }
}
@include tablet {
  .pres__subtitle {
    font-size: 18px;
  }
}
@include desktop {
  .pres__subtitle {
    font-size: 25px;
  }
  .pres__btn {
    width: 270px;
    height: 52px;
    font-size: 20px;
  }
}

//**Fonctionnement**/
#function {
  @include flexCol;
  align-items: center;
  padding-bottom: 40px;
}
.funtitle {
  align-self: flex-start;
}
.funcard {
  @include flexMid;
  width: 89%;
  height: 65px;
  background: $bg-section;
  box-shadow: $bs-card;
  border-radius: $br-card;
  margin: 15px 0 8px 0;
  position: relative;
  &:hover {
    cursor: pointer;
    background: #b381f02b;
  }
  &__btn {
    background: $cl-primary;
    color: white;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: $br-round;
    position: absolute;
    left: -8px;
  }
  &__icn {
    font-size: 22px;
    color: rgb(117, 117, 117);
    padding-right: 15px;
  }
  &:hover > .funcard__icn {
    color: $cl-primary;
  }
}
@include medium {
  .funcard {
    height: 70px;
  }
  .funcard__btn {
    height: 35px;
    width: 35px;
    left: -15px;
  }
  .funcard__icn {
    font-size: 25px;
    padding-right: 15px;
  }
}
@include tablet {
  .funcard {
    width: 55%;
  }
}
@include desktop {
  .funcard {
    width: 40%;
  }
}
//**Restaurants**/
#restau {
  background: $bg-section;
  padding-bottom: 40px;
}
.restau__pres {
  @include flexCol;
  align-items: center;
}
.restitle {
  align-self: flex-start;
}
.restcard {
  @include flexCol;
  width: 89%;
  height: 200px;
  background: white;
  box-shadow: $bs-card;
  margin: 8px 0;
  border-radius: $br-card;
  position: relative;
  &__img1 {
    width: 100%;
    height: 130px;
    border-radius: $br-demicard;
    object-fit: cover;
    object-position: center;
  }
  &__img2 {
    width: 100%;
    height: 130px;
    border-radius: $br-demicard;
    object-fit: cover;
    object-position: bottom;
  }
  &__btn {
    background: $cl-tertiary;
    color: darken($cl-tertiary, 50);
    font-weight: bold;
    border: none;
    height: 25px;
    width: 80px;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: 10px;
  }
}
.restcard__desc {
  padding-left: 12px;
  position: relative;
  &__place {
    font-size: 15px;
  }
  &__icn {
    font-size: 35px;
    line-height: 1;
    -webkit-text-stroke: 1px black;
    color: transparent;
    position: absolute;
    top: 10%;
    right: 7%;
  }
  &__icn:hover {
    cursor: pointer;
    background-image: $bg-btn;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: transparent;
  }
}
@include medium {
  .restcard {
    height: 300px;
  }
  .restcard {
    &__img1 {
      height: 230px;
    }
    &__img2 {
      height: 230px;
    }
  }
  .restcard__desc {
    &__place {
      font-size: 17px;
    }
    &__icn {
      right: 5%;
    }
  }
}
@include tablet {
  .restau__pres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .restcard {
    width: 93%;
    margin-bottom: 20px;
  }
  .restcard__desc {
    &__place {
      font-size: 17px;
    }
    &__icn {
      right: 5%;
    }
  }
}
@include desktop {
  .restcard {
    height: 350px;
  }
  .restcard {
    &__img1 {
      height: 280px;
    }
    &__img2 {
      height: 280px;
    }
  }
}
