@import "utils/variables";
@import "utils/mixins";
@import "utils/keyframes";
@import "base/box-sizing";
@import "base/font";
@import "components/breakpoints";
@import "layout/footer";

@include tablet {
  h4 {
    padding: 0 0 10px 0;
  }
}

//**Header**/
.head {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 10% 80% 10%;
  height: 70px;
  &__icn {
    font-size: 20px;
    font-weight: bold;
  }
  &__logo {
    width: 180px;
    height: 34px;
    object-fit: contain;
  }
}
@include tablet {
  .head {
    height: 90px;
    &__icn {
      font-size: 25px;
    }
    &__logo {
      width: 234px;
      height: 45px;
    }
  }
}
@include desktop {
  .head {
    height: 118px;
    &__icn {
      font-size: 30px;
    }
    &__logo {
      width: 304px;
      height: 59px;
    }
  }
}

//**main**/
main {
  width: 100%;
  height: auto;
  background: $bg-section;
}

//**Presentation**/
.presentation__img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  object-position: bottom;
}
@include medium {
  .presentation__img {
    height: 350px;
  }
}
@include tablet {
  .presentation__img {
    height: 500px;
  }
}
@include desktop {
  .presentation__img {
    height: 550px;
    object-position: center;
  }
}
//**Cart**/
#cart {
  width: 100%;
  border-radius: $br-demicard;
  position: relative;
  top: -40px;
  background: $bg-section;
}
.identity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__icn {
    font-size: 40px;
    padding-right: 25px;
    padding-bottom: 15px;
    line-height: 1;
    -webkit-text-stroke: 1px black;
    color: transparent;
  }
  &__icn:hover {
    background-image: $bg-btn;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: transparent;
  }
}

//*Entrées-Plats-Desserts*/
.menu {
  @include flexCol;
  justify-content: center;
  padding-bottom: 10px;
}
@include tablet {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    padding: 0 20px 0 20px;
  }
}
.menu__title {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 12px;
    bottom: 2px;
    border-top: 3px $cl-tertiary solid;
    width: 40px;
  }
}
@include tablet {
  .menu__title {
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
    }
  }
}

.card {
  @include hidden;
  display: flex;
  justify-content: space-between;
  width: 93%;
  height: 60px;
  background: white;
  border-radius: $br-card;
  margin: 8px auto;
  padding-left: 10px;
  box-shadow: $bs-card;
  animation: fading 1500ms 1s both;
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: 300ms * $i;
    }
  }
}
@include medium {
  .card {
    height: 70px;
  }
}
@include tablet {
  .card {
    margin: 16px auto;
  }
}
@include desktop {
  .card {
    height: 80px;
  }
}
.card__info {
  @include hidden;
  @include flexCol;
  justify-content: center;
  &__title {
    @include hidden;
  }
  &__subtitle {
    @include hidden;
    font-size: 0.9rem;
  }
}
.card__price {
  display: flex;
  align-items: flex-end;
  &__details {
    font-size: 15px;
    font-weight: bolder;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  &__icn {
    @include flexMid;
    background-color: $cl-tertiary;
    height: 100%;
    width: 50px;
    border-radius: 0 12px 12px 0;
    margin-right: -50px;
  }
  i {
    font-size: 25px;
    font-weight: 900;
    color: white;
  }
  &:hover > .card__price__icn {
    cursor: pointer;
    margin-right: 0px;
    & > i {
      animation: icn_check 300ms ease-in-out;
    }
  }
}
.cmd {
  @include flexMid;
  &__btn {
    width: 140px;
    height: 38px;
    border: none;
    border-radius: $br-round;
    color: white;
    font-size: 16px;
    background: $bg-btn;
    box-shadow: $bs-btn;
    margin-top: 10px;
    transform: scale(1);
    animation: transform 1s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      background: $bg-btn-dark;
    }
  }

  @include medium {
    .cmd__btn {
      width: 155px;
      height: 42px;
    }
  }
}
