//**Header**/
header {
  @include flexMid;
  height: 70px;
  .logo__head {
    width: 180px;
    height: 34px;
    object-fit: contain;
  }
}
@include tablet {
  header {
    height: 90px;
    .logo__head {
      width: 234px;
      height: 45px;
    }
  }
}
@include desktop {
  header {
    height: 118px;
    .logo__head {
      width: 304px;
      height: 59px;
    }
  }
}
//**Header_Menu**/
.head {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 10% 80% 10%;
  height: 70px;
  &__icn {
    font-size: 20px;
    font-weight: bold;
  }
  &__logo {
    width: 180px;
    height: 34px;
    object-fit: contain;
  }
}
@include tablet {
  .head {
    height: 90px;
    &__icn {
      font-size: 25px;
    }
    &__logo {
      width: 234px;
      height: 45px;
    }
  }
}
@include desktop {
  .head {
    height: 118px;
    &__icn {
      font-size: 30px;
    }
    &__logo {
      width: 304px;
      height: 59px;
    }
  }
}

