.funcard {
  @include flexMid;
  @include card;
  width: 89%;
  height: 65px;
  background: $bg-section;
  margin: 15px 0 8px 0;
  position: relative;
  &:active {
    cursor: pointer;
    background: #b381f02b;
  }
  &__icn {
    font-size: 1.375rem;
    color: rgb(117, 117, 117);
    padding-right: 15px;
  }
  &:active > .funcard__icn {
    color: $cl-primary;
  }
}
@include medium {
  .funcard {
    height: 70px;
  }
  .funcard__icn {
    font-size: 1.563rem;
    padding-right: 15px;
  }
}
@include tablet {
  .funcard {
    width: 55%;
  }
}
@include desktop {
  .funcard {
    width: 40%;
    &:hover {
      cursor: pointer;
      background: #b381f02b;
    }
    &:hover > .funcard__icn {
      color: $cl-primary;
    }
  }
}
.restcard {
  @include flexCol;
  @include card;
  width: 89%;
  height: 200px;
  background: white;
  margin: 8px 0;
  position: relative;
  &__img1 {
    width: 100%;
    height: 130px;
    border-radius: $br-demi-img;
    object-fit: cover;
    object-position: center;
  }
  &__img2 {
    @extend .restcard__img1;
    object-position: bottom;
  }
}
.restcard__desc {
  padding-left: 12px;
  position: relative;
  &__place {
    font-size: 1rem;
  }
  &__icn {
    font-size: 2.2rem;
    line-height: 1;
    -webkit-text-stroke: 1px black;
    color: transparent;
    position: absolute;
    top: 10%;
    right: 7%;
  }
  &__icn:active {
    cursor: pointer;
    background-image: $bg-btn;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: transparent;
  }
}
@include medium {
  .restcard {
    height: 300px;
    &__img1 {
      height: 230px;
    }
    &__img2 {
      height: 230px;
    }
  }
  .restcard__desc {
    &__place {
      font-size: 0.875rem;
    }
    &__icn {
      right: 5%;
    }
  }
}
@include tablet {
  .restcard {
    width: 93%;
    margin-bottom: 20px;
  }
  .restcard__desc {
    &__place {
      font-size: 0.875rem;
    }
    &__icn {
      right: 5%;
    }
  }
}
@include desktop {
  .restcard {
    height: 350px;
  }
  .restcard {
    &__img1 {
      height: 280px;
    }
    &__img2 {
      height: 280px;
    }
  }
  .restcard__desc {
    &__icn:hover {
      cursor: pointer;
      background-image: $bg-btn;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-stroke: transparent;
    }
  }
}
.card {
  @include hidden;
  @include card;
  display: flex;
  justify-content: space-between;
  width: 93%;
  height: 60px;
  background: white;
  margin: 8px auto;
  padding-left: 10px;
  animation: fading $anim-dur 500ms backwards ease-in-out;
  @for $i from 1 through $num-card {
    &--#{$i} {
      animation-delay: $anim-delay-card * $i;
    }
  }
  @include medium {
    height: 70px;
  }
  @include tablet {
    margin: 16px auto;
  }
  @include desktop {
    height: 80px;
  }
}

.card__info {
  @include hidden;
  @include flexCol;
  justify-content: center;
  &__title {
    @include hidden;
  }
  &__subtitle {
    @include hidden;
    font-size: 0.8rem;
    @include medium {
      font-size: 0.9rem;
    }
    @include tablet {
      font-size: 0.8rem;
    }
    @include desktop {
      font-size: 1rem;
    }
  }
}

.card__price {
  display: flex;
  align-items: flex-end;
  &__details {
    font-size: 15px;
    font-weight: bolder;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  &__icn {
    @include flexMid;
    background-color: $cl-tertiary;
    height: 100%;
    width: 50px;
    border-radius: 0 12px 12px 0;
    margin-right: -50px;
  }
  i {
    font-size: 25px;
    font-weight: 900;
    color: white;
  }
  &:active > .card__price__icn {
    cursor: pointer;
    margin-right: 0px;
    & > i {
      animation: icn_check 200ms ease-in-out;
    }
  }
  @include desktop {
    &:hover > .card__price__icn {
      cursor: pointer;
      margin-right: 0px;
      & > i {
        animation: icn_check 200ms ease-in-out;
      }
    }
  }
}
