* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/**Mobil first-Breakpoint 320 à 576px**/
body {
  margin: 0px;
}
#main_cont {
  min-width: 320px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/**MédiaQueries Main_page**/
//**!Mobil petit à moyen - Breakpoint 577 à 767px**/
@media screen and (min-width: 577px) {
  #main_cont {
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
    padding: 15px 0 15px 30px;
  }
  h3 {
    font-size: 22px;
    padding: 2px 0 6px 0;
    word-spacing: -0.2em;
  }
  //**Fonctionnement**/

  //**Restaurants**/
}
/**Tablet - Breakpoint 768 à 991px**/
@media screen and (min-width: 768px) {
  #main_cont {
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  //**Header**/

  //**Presentation**/

  //**Fonctionnement**/

  //**Restaurants**/
}
/**Desktop petit à moyen - Breakpoint 992 à 1440px**/
@media screen and (min-width: 992px) {
  #main_cont {
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
    padding: 15px 0 15px 40px;
  }
  //**Header**/

  //**Presentation**/

  //**Fonctionnement**/

  //**Restaurants**/
}
