//**Color**/
$cl-primary: #9356dc;
$cl-primary-light: lighten($cl-primary, 4%);
$cl-primary-dark: darken($cl-primary, 20%);
$cl-secondary: #ff79da;
$cl-secondary-light: lighten($cl-secondary, 4%);
$cl-secondary-dark: darken($cl-secondary, 20%);
$cl-tertiary: #99e2d0;
$cl-font-bis: #4a4a4a;

//**Background**/
$bg-section: linear-gradient(#f9f9f9, #f0f0f0);
$bg-btn: linear-gradient(to bottom right, $cl-secondary, $cl-primary);
$bg-btn-light: linear-gradient(
  to bottom right,
  $cl-secondary-light,
  $cl-primary-light
);
$bg-btn-dark: linear-gradient(
  to bottom right,
  $cl-primary-dark,
  $cl-secondary-light
);

//**Box-shadows**/
$bs-card: 3px 3px 5px rgb(164, 164, 164);
$bs-btn: 2px 3px 3px #7c46bd;
$bs-btn-more: 3px 5px 3px #7c46bd;

//**Border-radius**/
$br-round: 50px;
$br-card: 15px;
$br-demicard: 30px 30px 0 0;
$br-demi-img: 15px 15px 0 0;

//**Maps breakpoints/
$breakpoints: (
  "xs": 320px,
  "medium": 577px,
  "tablet": 768px,
  "desktop": 992px,
);
